@{
    ViewData["Title"] = "Metric";
}
<h1>@ViewData["Title"]</h1>

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Metric">
    <div class="form-group">
        <label for="txtMetric">Metric</label>
        <input type="number" class="form-control" id="txtMetric" aria-describedby="metricHelp" placeholder="Enter an integer">
        <small id="metricHelp" class="form-text text-muted">Enter a metric </small>
    </div>
    <button class="btn btn-primary" type="submit" value="Submit">Submit</button>
   
 @if (ViewBag.Result != null)
 {
     <div class="alert alert-success" role="alert">
         @ViewBag.Result
     </div>
 }

  
</form>